* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Libre Franklin";
    background-color: #f0f0f0;
}

/* Nav */
.nav-background {
    background-color: #006D77;
    height: 80px;
}

.nav-text {
color: #D9D9D9;
}

.footer-text{
list-style-type: none;
font-family: 'Merriweather';
}

.icon-color{
color: black;
}



/* Profile page */
.profile-picture{
    /* display: inline-block; */
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture img{
    width: 100%;
    height: 100%;
}

.edit-profile-btn{
    border-radius: 30px;
    background-color: #E29578;
    color: white;
    width: 100%;
    height: 45px;
}

.edit-profile-btn:hover{
    background-color: #D86D46;
    color: white;
}

.profile-info-container{
    border: 1px solid #83C5BE;
    border-radius: 30px;
}




/* list package */
.package-image{
    width: 313px;
    height: 200px;
}

.package-image img{
    width: 100%;
    height: 100%;
}

.package-detail-img{
    width: 800px;
    height: 500px;
}

.package-detail-img img{
    width: 100%;
    height: 100%;
}

.package-header{
    font-family: "Merriweather";
    font-size: 32px;
}

.package-author-font{
    font-family: "Libre Franklin";
    font-size: 14px;
}

.subheadings{
    font-size: 22px;
    font-weight: 450;
}

.book-package-btn{
    border-radius: 30px;
    background-color: #E29578;
    color: white;
    width: 100%;
    height: 45px;
}

.book-package-btn:hover{
    background-color: #D86D46;
    color: white;
}

.rating {
    width: 125px;
    font-size: 30px;
    overflow:hidden;
}
.comment-rating{
    width: 92px;
    font-size: 22px;
    overflow:hidden;
}

.rating input, .comment-rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating a, .comment-rating a,
.rating label, .comment-rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label, .comment-rating label:hover ~ label,
.rating input:focus ~ label, .comment-rating input:focus ~ label,
.rating label:hover, .comment-rating label:hover,
.rating a:hover, .comment-rating a:hover,
.rating a:hover ~ a, .comment-rating a:hover ~ a,
.rating a:focus, .comment-rating a:focus,
.rating a:focus ~ a, .comment-rating a:focus ~ a{
    color: orange;
    cursor: pointer;
}


/* Reviews page */
.feedback-content{
    background-color: #EDF6F9;
    border-radius: 30px;
    padding: 16px;
}

.comment-profile-picture{
    /* display: inline-block; */
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.comment-profile-picture img{
    width: 100%;
    height: 100%;
}

.comment-author-info{
    font-size: 16px;
    font-family: "Libre Franklin";
}


.confirm-booking-btn{
    border-radius: 30px;
    background-color: #E29578;
    color: white;
    height: 45px;
}


.confirm-booking-btn:hover{
    background-color: #D86D46;
    color: white;
}

.close-btn{
    border-radius: 30px;
    height: 45px;
}

/* 
.close-btn:hover{
    background-color: #D86D46;
    color: white;
} */



.img-container{
    width: 100%;
}

.wrapper{
    display: flex;
    width: 90%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.all-images{
    height: 80vh;
    display: flex;
}

.small-images{
    display: flex;
    flex-direction: column;
}

.small-images img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}

.small-images img:hover{
    opacity: 1;
}

.main-images img{
    height: 100%;
    margin-left: 9px;
}

@media only screen and (max-width:1200px){
    .wrapper{
        flex-direction: column;
        height: auto;
        padding: 5% 0;
    }
}

@media only screen and (max-width:600px){
    .all-images{
        flex-direction: column;
        height: auto;
    }
    .small-images{
        flex-direction: row;
        justify-content: space-evenly;
        order: 1;
    }
    .product-box{
        width: 100%;
    }
    .main-images img{
        width: 100%;
    }
    .small-images img{
        width: 25%;
    }
}


.edit-btn{
    background-color: rgba(25, 138, 227, .2);
    border: none;
    color: #198ae3;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: default;
  }
  
  .edit-btn:hover{
    background-color: rgba(25, 138, 227);
    color: white;
    transition: 0.2s;
  }





/* Home page */
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }