{% extends 'core/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center ">
            <p class="main-text">Make your next trip an adventure</p>
            <p class="main-text">Customize & book amazing packages.</p>
            <p class="sub-text">Search, compare packages</p>
            <div class="input-group" style="width: 800px;">
                <input type="text" class="form-control" placeholder="City">
                <input type="text" class="form-control" placeholder="Month">
                <input type="text" class="form-control" placeholder="Duration">
                <button class="checkout-btn" type="button">Search</button>
              </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="choose-title">Why choose us?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="index-card">
                <div class="row">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="index-image-container">
                            <img src="{% static 'images/web-images/globe.svg' %}" alt="">
                        </div>
                        <div class="mt-3">
                            <p class="index-card-title">Best tours</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col index-card-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque egestas viverra.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="index-card">
                <div class="row">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="index-image-container">
                            <img src="{% static 'images/web-images/money.svg' %}" alt="">
                        </div>
                        <div class="mt-3">
                            <p class="index-card-title">Low prices</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col index-card-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque egestas viverra.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="index-card">
                <div class="row">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="index-image-container">
                            <img src="{% static 'images/web-images/ticket.svg' %}" alt="">
                        </div>
                        <div class="mt-3">
                            <p class="index-card-title">Easy bookings</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col index-card-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque egestas viverra.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="index-card">
                <div class="row">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="index-image-container">
                            <img src="{% static 'images/web-images/discount.svg' %}" alt="">
                        </div>
                        <div class="mt-3">
                            <p class="index-card-title">Exciting deals</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col index-card-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque egestas viverra.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p class="index-row-title">Our picks for you</p>
        </div>
    </div>
    <div class="row">
        {% for package in packages %}
        <div class="col-md-4 mb-3">
            <article>
                <div class="article-wrapper">
                    <a href="{% url 'package_detail' package.pk %}">
                        <figure>
                            <img src="{{ package.package_pic.url }}" alt="" />
                        </figure>
                    </a>
                    <div class="article-body">
                        <h2><a href="{% url 'package_detail' package.pk %}">{{ package.package_title  }}</a></h2>
                        <p class="mb-2"><a href="{% url 'seller_profile' package.package_author.id %}">By: {{ package.package_author }}</a></p>
                        {% ratings package read_only=True %}
                        <p>Rs. {{ package.package_price }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'package_detail' package.pk %}" class="read-more">
                                View detail <span class="sr-only">about this is some title</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                                </svg>
                            </a>
                            <button class="checkout-btn ms-3" onclick="console.log('Package ID:', '{{ package.pk }}'); addToCompare('{{ package.pk }}')">Compare</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="compareModal" data-compare-url="{% url 'compare_packages' %}" tabindex="-1" aria-labelledby="compareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="compareModalLabel">Comparision</h1>
        <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="compareModalBody">
        </div>
    </div>
    </div>
</div>
{% endblock %}